:root {
  --color-orange: rgb(177, 38, 16);
  --color-dark: #2a2a2a;
  --body-bg: rgb(174, 209, 172);
  --text-color: var(--color-dark);
  --dark-bg: var(--color-dark);
  --dark-text-color: white;
  --box-shadow: 4px -2px 40px 9px rgba(87, 87, 87, 0.828);
}

html {
  /* scroll behaviour: smooth; */
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
}

.container {
  width: 80%;
  margin: auto;
  max width: 1400px;
}

.flex {
  display: flex;
  gap: 1rem;
}

.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.grid {
  display: grid;
  gap: 1rem; /* 1rem=16px */
}

a {
  text-decoration: none;
  color: inherit;
}

/* .bricolage-grotesque {
  font-family: "Bricolage Grotesque", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
  font-variation-settings: "wdth" 100;
} */

.wrapper {
  background: var(--body-bg);
  min-height: 100vh;
}

/* <!-- dark mode toggler --> */
[for="darkmode"] {
  position: fixed;
  top: 7rem;
  left: 3rem;
  font-size: 1.3rem;
}
[for="darkmode"]:hover {
  cursor: pointer;
  transform: scale(1.5);
  transition: all 0.3s;
}
/* <!-- nav bar --> */
header {
  box-shadow: var(--box-shadow);
  position: static;
  top: 0;
  background: var(--body-bg);
}
header .header {
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
}

.logo {
  font-size: 1.3rem;
  position: relative;
}

.logo :first-child {
  font-weight: bold;
  margin-right: 1rem;
  font-family: "Bricolage Grotesque", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
  font-variation-settings: "wdth" 100;
}

.line::before {
  content: "";
  background: black;
  width: 4px;
  height: 100%;
  position: absolute;
  left: 45%;
}

.navigation {
  list-style: none;
  font-weight: bold;
}
.navigation li:hover {
  color: var(--color-orange);
}

/* applying dark mode feature */
#darkmode:checked + .wrapper {
  --body-bg: var(--dark-bg);
  color: var(--dark-text-color);
}

/* <!-- hero section --> */

.hero-section {
  margin-top: 5rem;
  max-height: 60vh;
}

.hero {
  background-color: aqua;
  grid-template-areas: "left right";
  padding: 2rem;
  box-shadow: var(--box-shadow);
}

.left {
  grid-area: left;
  flex-direction: column;
  justify-content: center;
  margin-left: 10vw;
}
.left div span {
  font-weight: bold;
  font-size: 1.3rem;
}

.left .tag {
  font-size: 2.2rem;
  font-weight: bolder;
  letter-spacing: 5px;
}
.left button {
  background: var(--color-dark);
  color: var(--dark-text-color);
  padding: 0.8rem 2rem;
  border: none;
  border-radius: 10px;
  cursor: pointer;
}
.right {
  grid-area: right;
  justify-content: flex-end;
  align-items: left;
  margin-top: -7rem;
}
.right img {
  height: 115%;
}

/* <!-- banner section--> */

/* <!-- skills section--> */

/* <!-- projectssection --> */

/* <!-- about section--> */

/* <!-- contact section--> */
/* <!-- footer section--> */
